// Colores
$primary-color: #4A7C59;
$secondary-color: #68B0AB;
$third-color: #FAF3DD;
$primary-color-ligth: #8FC0A9;
$primary-color-ligth2: #C8D5B9;
$white: #FFFFFF;
$black: #000000;

// Breakpoints
$breakpoint-sm: '540px';
$breakpoint-md: '768px';
$breakpoint-lg: '1024px';
$breakpoint-xl: '1200px';
$breakpoint-xxl: '1400px';