@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#coin {
  position: relative;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  transition: transform 1.5s ease-in;
  transform-style: preserve-3d;
  border-radius: 50%;

  div {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 45px rgba(24, 24, 24, 0.3), 0 12px 20px -10px rgba(0, 0, 0, 0.4);
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    &.side-a {
      color: var(--chakra-colors-brand-100);
      background: var(--chakra-colors-brand-700);
    }

    &.side-a-dark {
      color: var(--chakra-colors-brand-900);
      background: var(--chakra-colors-brand-300);
    }

    &.side-b {
      transform: rotateY(-180deg);
      color: var(--chakra-colors-brand-100);
      background: var(--chakra-colors-brand-400);
    }
  }

  &.Heads {
    animation: flipHeads 2s ease-out forwards;
  }

  &.Tails {
    animation: flipTails 2s ease-out forwards;
  }
}

@keyframes flipHeads {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(540deg);
  }
}

@keyframes flipTails {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(720deg);
  }
}